
/* ROOT ========================= */

:root {
    /*colors*/
    --midnight-green: #095256;
    --teal: #087F8C;
    --zomp: #5AAA95;
    --asparagus: #86A873;
    --satin-sheen-gold: #BB9F06;
    /*experimenting colors*/
    --light-green: #D0EFB1;
    --darker-green: #B3D89C;
    --light-blue: #A3D7E6;
    --middle-blue: #6D8DBB;
    --dark-blue: #5D748A;
}

/* BASIC RESET ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TYPOGRAPHY ========================= */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--light-blue);
}

a:hover {
    color: var(--middle-blue);
}

/* HEADER ========================= */

header {
    background-color: var(--dark-blue);
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    color: var(--light-blue);
    text-shadow: -1px -1px 0 #fff;
}

/* NAVIGATION ========================= */

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--middle-blue);
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--light-blue);
    color: #fff;
}

/* MAIN ========================= */

main {
    padding: 2rem;
    background-color: var(--dark-blue);
    flex: 1;
}

/* FORM ========================= */

.form-container {
    background-color: var(--middle-blue);
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    display: block;
    margin-bottom: 0.5rem;
    
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: var(--light-blue);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: var(--dark-blue);
}

/* SECTIONS ========================= */

section {
    margin-bottom: 2rem;
}

section:last-child {
    margin-bottom: 0;
}

/* FOOTER ========================= */

footer {
    background-color: var(--middle-blue);
    padding: 1rem 0;
    text-align: center;
}

footer p {
    color: var(--light-blue);
}